html {
  box-sizing: border-box;
  margin: 0;
  /* font-size: 10px; */
}

body {
  background-color: #f2f7e1;
}

.navbar-custom {
  background-color: #f2f7e1;
  font-size: 16px;
  height: 80px;
}

img {
  width: 80px;
  height: "auto";
}

a,
h4 {
  color: #386761;
  font-weight: bold;
}
a:hover {
  color: hsl(176, 61%, 41%, 1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(56,103,97, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand {
  margin: 0 auto;
}

@media (max-width: 767px) {
  .navbar-brand {
    text-align: center;
  }
}

@media (min-width: 992px) {
  #item-d {
    height: 562px;
  }
}

@media (min-width: 1200px) {
  #item-d {
    height: 466px;
  }
}

#globalNav {
  background-color: #f2f7e1;
}

.dropdown-menu {
  background-color: rgba(56, 103, 97, 0.7);
}

.dropdown-menu > a {
  color: #f2f7e1;
}

.dropdown-menu > a:hover {
  background-color: rgb(242, 247, 225);
  color: rgba(56, 103, 97, 1);
}

.container div {
  padding: 1rem;
}

#opening {
  /* border: solid 1px rgba(117, 117, 231, 0.5); */
  /* border-radius: 1%; */
  background-color: rgb(255, 255, 255, 0.5);
  height: 600px;
}
#opening > h2 {
  font-family: "Staatliches", cursive;
  padding: 250px 0 0 0;
  text-align: center;
  color: rgb(56, 103, 97);
}

#opening > p {
  padding: 0 0 250px 0;
  text-align: center;
  font-family: "Turret Road", cursive;
}

.row > div > section {
  line-height: 1.5;
  padding: 15px;
  border-radius: 2%;
  font-family: "Lora", serif;
}
#item-b {
  background-color: hsl(176, 61%, 41%, 0.3);
}
#item-c {
  background-color: hsl(176, 61%, 41%, 0.3);
}

#item-d {
  background-color: hsl(176, 61%, 41%, 0.3);
}
footer {
  margin-top: 20px;
  grid-area: footer;
  padding: 15px;
  text-align: center;
}

section > h4 {
  font-family: "staatliches", cursive;
}
